<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to replaceappname, <%= @user.name %></h1>
    <p>
      This is your test email.<br>
    </p>
    <p>
      Further info: <%= @extra %>.
    </p>
  </body>
</html>
