<% title "Thing X" %>

<% content_for :page_actions do %>
    <li><%= link_to content_tag(:span, "Edit"), edit_path %></li>
    <li><%= link_to content_tag(:span, "Delete"), delete_path, method: :get, :data => {:confirm => 'Are you sure you want to <strong>permanently</strong> delete this thing?'} %></li>
<% end %>

<div class="row" id="thing-information" >
    <div class="col-sm-1"></div>
    <div class="col-sm-10"> 

        <div class="row">
            <label class="col-sm-3 item_label">
                Thing Name:
            </label>
            <div class="col-sm-9 item_value">
                Thing X
            </div>
        </div>

        <div class="row">
            <label class="col-sm-3 item_label">
                Thing Type:
            </label>
            <div class="col-sm-9 item_value">
                Mineral
            </div>
        </div>
    
        <div class="row">
            <label class="col-sm-3 item_label">
                Contact Information:
            </label>
            <div class="col-sm-9 item_value">
                Some Person<br/>
                4 Currier Drive (I91 exit 13, right on West St, straight at traffic light, left on Currier, first right into parking lot, arrive before 5am to find an empty parking space)<br/>
                Hanover, NH  03755<br/>
                603.646.2660<br/>
                some.person@dartmouth.edu
            </div>
        </div>

        <div class="row">
            <label class="col-sm-3 item_label">
                Season(s):
            </label>
            <div class="col-sm-9 item_value">
                Fall, Winter
            </div>
        </div>

        <div class="row">
            <label class="col-sm-3 item_label">
                Time Commitment:
            </label>
            <div class="col-sm-9 item_value">
                Full-time
            </div>
        </div>

        <div class="row button_row">
            <div class="col-sm-offset-3 col-sm-9">
                <%= link_to 'Cancel', root_path, :class => "btn btn-default" %>
            </div>
        </div>
    </div>
        
    <div class="col-sm-1"></div>
</div> 
